html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Classe CSS "bloco-fofinho" */
.bloco-fofinho {
    background-color: #F9F1F0; /* Fundo pastel */
    border: 1px solid #e0e0e0; /* Borda suave */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaçamento inferior */
}

    .bloco-fofinho h2 {
        color: #880d1e; /* Cor do título */
        font-size: 1.5em; /* Tamanho do título */
        margin-bottom: 10px; /* Espaçamento inferior do título */
    }

    .bloco-fofinho p {
        font-size: 1em; /* Tamanho do texto */
        color: #333; /* Cor do texto */
        line-height: 1.6; /* Espaçamento entre linhas */
        margin-bottom: 10px; /* Espaçamento inferior do texto */
    }

.background-image-padrao {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Imagens/aloalo.png'); /* imagem de fundo */
    background-size: cover;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
}

.btn-outline-create {
    color: #189AB4; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #189AB4; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-create:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #189AB4; /* Fundo ao passar o mouse */
        border-color: #189AB4; /* Cor da borda ao passar o mouse */
    }

.btn-outline-edit {
    color: #81B622; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #81B622; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-edit:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #81B622; /* Fundo ao passar o mouse */
        border-color: #81B622; /* Cor da borda ao passar o mouse */
    }

.btn-outline-delete {
    color: #E42256; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #E42256; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-delete:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #E42256; /* Fundo ao passar o mouse */
        border-color: #E42256; /* Cor da borda ao passar o mouse */
    }


.bloco {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
}

    .bloco img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        transition: filter 0.3s ease;
    }

    .bloco .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        transition: opacity 0.3s ease;
    }

    .bloco:hover img {
        filter: blur(5px);
    }

    .bloco:hover .texto {
        opacity: 1;
    }