@{
    ViewData["Title"] = "Detalhes";
}

<div class="bloco-fofinho">
    <h1 class="display-4">Detalhes</h1>
    <div class="row mt-4">
        <!-- Detalhes do Personagem -->
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Valor</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Nome</td>
                        <td>{{ personagemEditado.Nome }}</td>
                    </tr>
                    <tr>
                        <td>Nível</td>
                        <td>{{ personagemEditado.Nivel }}</td>
                    </tr>
                    <!-- Adicione outras linhas para os atributos que deseja exibir -->
                    <tr>
                        <td>Classe</td>
                        <td>{{ personagemEditado.Classe }}</td>
                    </tr>
                    <tr>
                        <td>Constelação</td>
                        <td>{{ personagemEditado.Constelacao }}</td>
                    </tr>
                    <!-- Adicione mais linhas para outros atributos -->
                </tbody>
            </table>
        </div>
    </div>
</div>