@{
    ViewData["Title"] = "Listagem de Personagens";
}

<div class="bloco-fofinho" ng-controller="PersonagemController">
    <div class="text-center">

        <!-- Título -->
        <div class="text-center">
            <h1 class="display-4">Listagem de Personagens</h1>
        </div>

        <!-- Botão de criação de Personagem -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
            <a class="btn btn-outline-create" role="button" asp-controller="Personagem" asp-action="Criar">Adicionar novo Personagem</a>
        </div>

        <!-- Tabela com litagem -->
        <div class="mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nível</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Constelação</th>
                        <th scope="col">Golpe</th>
                        <th scope="col">Habilidade</th>
                        <th scope="col">Ultimate</th>
                        <th scope="col">Visão</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="personagem in personagens">
                        <td scope="row"> {{ personagem.Nivel }} </td>
                        <td> {{ personagem.Nome }} </td>
                        <td> {{ personagem.Classe }} </td>
                        <td> {{ personagem.Constelacao }} </td>
                        <td> {{ personagem.Golpe }} </td>
                        <td> {{ personagem.Habilidade }} </td>
                        <td> {{ personagem.Ultimate }} </td>
                        <td> {{ personagem.Visao }} </td>
                        <td>
                            <a role="button" class="btn btn-outline-detail" asp-controller="Personagem" asp-action="Detalhes">Detalhes</a>
                            <a role="button" class="btn btn-outline-edit" asp-controller="Personagem" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-outline-delete" asp-controller="Personagem" asp-action="Apagar">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>